*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #81b214;    
}
canvas{
    position: relative;
    width: 1354px;
    height: 650px;
    border: solid black 1px;
    background-color: #00bcd4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}